<form (submit)="add_new_book()">
    <label for="title">Title:</label>
    <input type="text" id="title" [(ngModel)]="new_book.title" name="title" required>

    <label for="author">Author:</label>
    <input type="text" id="author" [(ngModel)]="new_book.author" name="author" required>
  
    <label for="description">Description:</label>
    <textarea id="description" [(ngModel)]="new_book.description" name="description" required></textarea>
  
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="image_url" [(ngModel)]="new_book.image_url" name="image_url" required>
  
    <button type="submit">Add book</button>
</form>
<div class="book-container">
    <div class="book">
        <div class="book-content">
          <div class="book-cover">
            <img [src]="new_book.image_url" [alt]="new_book.title">
          </div>
          <div class="book-details">
            <h1>{{ new_book.title }}</h1>
            <h3>{{ new_book.author }}</h3>
            <a >Edit book information</a> <br />
            <span id="remove_book">Remove book</span>
          </div>
        </div>
        <p class="description">{{ new_book.description }}</p>
    </div>
</div>
